# Android
build/
.gradle/
local.properties
*.apk
*.aab

# Excepciones Jenkins
!Backend API/jenkins/build/
!Backend API/jenkins/build/build.sh
!Backend API/jenkins/build/docker-compose.yaml

# Backend
__pycache__/
*.pyc
.env
*.log
*.swp
*.swo

# IDE
.idea/
.vscode/

# Secrets & configs
secrets/
*.key
*.backup

# OS
.DS_Store
